@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />
<p>
    scan'd. is a ubiquitous, cloud-based logging solution that makes taking attendance easy.
    Users must simply swipe their RFID-enabled cards or badges on the provided scanner and
    the information regarding the time and location of their scans will be inserted into a
    database to be viewed in the web application.
</p>
<br />
<p>Created by Team Shrek for LA Tech Capstone 2019.</p>
