@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<br />
<address>
    Nethken Hall<br />
    501 Dan Reneau Drive<br />
    Ruston, LA 71270<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:scand.help@gmail.com">scand.help@gmail.com</a><br />
</address>