@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<br />
<p>For any bugs found, email our support address below.</p>
<br />

<address>
    <strong>Support:</strong>   <a href="mailto:help.scand@gmail.com">help.scand@gmail.com</a><br />
</address>