@using shanuMVCUserRoles.Models

@{
    ViewBag.Title = "Home Page";
}
@model List<ScannedViewModel>
<h1>Records</h1>

<table cellpadding="10">
    <tr>
        <th>UserName</th>
        <th>Room</th>
        <th>Time</th>
    </tr>
    @foreach (var scanned in Model)
    {
        <tr>
            <td>@scanned.UserName</td>
            <td>@scanned.Room</td>
            <td>@scanned.Time</td>
        </tr>
    }
</table>